<div class="page">
  <h2 i18n>Booking</h2>
  <button class="back-button" (click)="goBackLogin()" i18n>← Back</button>

  <!-- Booking overview -->
  <div class="overview">
    <h3 i18n>Bookings</h3>
    <div class="activeBookings"></div>

    <div class="overview-table">
      <!-- Überschriften -->
      <div class="overview-header">
        <div>Name</div>
        <div>Zimmer</div>
        <div>Startdatum</div>
        <div>Enddatum</div>
        <div>Buchungsnummer</div>
        <div>Status</div>
        <div>Einchecken</div>
        <div>Stornieren</div>
        <div>Ansehen</div>
      </div>

      <!-- Dynamische Daten -->
      <div class="overview-row" *ngFor="let b of bookings">
        <div>{{ b.name }}</div>
        <div>{{ b.roomName }}</div>
        <div>{{ b.startDate | date:'dd.MM.yyyy' }}</div>
        <div>{{ b.endDate | date:'dd.MM.yyyy' }}</div>
        <div>{{ b.bookingNumber }}</div>

        <!-- Status -->
        <div class="cell-left">
          <button class="status-button"
                  [ngClass]="{
      'status-checked': b.isCheckedIn,
      'status-not-checked': !b.isCheckedIn
    }">
            {{ b.isCheckedIn ? 'Eingecheckt' : 'Nicht eingecheckt' }}
          </button>
        </div>


        <!-- Toggle Einchecken -->
        <div class="cell-left">
          <div class="toggle">
            <input type="checkbox"
                   [id]="'checkin-' + b.bookingNumber"
                   [(ngModel)]="b.isCheckedIn" />
            <label [for]="'checkin-' + b.bookingNumber"></label>
          </div>
        </div>

        <!-- Stornieren -->
        <div class="cell-left">
          <button class="stornieren" (click)="cancelBooking(b.bookingNumber)">
            Stornieren
          </button>
        </div>

        <!-- look at rooms -->
        <div class="cell-left">
          <button class="zimmer-ansehen" (click)="viewRoom(b)">
            Zimmer ansehen
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-wrapper">
    <app-footer></app-footer>
  </div>
</div>
