<footer>
  <div class="footer-columns">

    <div class="Adula">
      <h3>Adula</h3>
      <div class="description">
        <p i18n>
          We are the family-run Hotel Adula in the Alps: warm, uncomplicated<br />
          and close to nature. Cozy rooms with mountain views, regional cuisine, and<br />
          personal tips for every season. Sustainable, child-friendly – ideal for skiing,<br />
          hiking, and relaxing getaways.
        </p>
      </div>
    </div>

    <div class="reach-out">
      <h4 i18n>Reach out</h4>

      <table role="presentation" cellspacing="0" cellpadding="4">
        <tr>
          <td>
            <img src="mail_logo.png" alt="E-Mail" i18n-alt width="24" height="24">
          </td>
          <td><p>hoteladula@gmail.com</p></td>
        </tr>
        <tr>
          <td>
            <img src="instagram_logo.png" alt="Instagram" i18n-alt width="24" height="24">
          </td>
          <td><p>@hoteladula</p></td>
        </tr>
        <tr>
          <td>
            <img src="linkedin_logo.png" alt="LinkedIn" i18n-alt width="24" height="24">
          </td>
          <td><p>@hoteladula</p></td>
        </tr>
      </table>
    </div>

  </div>
</footer>
