<div class="page">
  <div class="overview">
    <h3>Login</h3>
    <form (keydown)="onKeyDown($event)" (ngSubmit)="onLogin()" autocomplete="off">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          (input)="onEmailInput()"
          name="email"
          [class.input-error]="errorEmail"
          required
          autocomplete="username"
          placeholder="ihre.email@beispiel.com"
        />
        <div class="error" [class.hidden]="!errorEmail">{{ errorEmail || '&nbsp;' }}</div>
      </div>
      <div class="form-group">
        <label for="bookingNumber">Buchungsnummer</label>
        <input
          id="bookingNumber"
          type="text"
          [(ngModel)]="bookingNumber"
          (input)="onBookingNumberInput()"
          name="bookingNumber"
          [class.input-error]="errorBookingNumber"
          required
          autocomplete="off"
          placeholder="z.B. 18F6ADB8"
        />
        <div class="error" [class.hidden]="!errorBookingNumber">{{ errorBookingNumber || '&nbsp;' }}</div>
      </div>
      <div class="button-row">
        <button class="singin" type="submit" [disabled]="bookingInProgress">
          {{ bookingInProgress ? 'Wird geladen...' : 'Login' }}
        </button>
      </div>
      <div class="error" *ngIf="error">{{ error }}</div>
    </form>
  </div>
</div>
<app-footer></app-footer>
