.page {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 .5rem;
    margin-left: 2.5rem;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
  }

  p {
    margin: 0;
  }
}

.rooms-content {
  padding: 2rem 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.room-section {
  margin-bottom: 2rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.room-name h4 {
  margin: 0;
}

.bedrooms-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.meetingrooms-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.room-type {
}

.room-card-body {
  p {
    margin: 0.5rem 0;
  }
}

.buttons-row-rooms {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

.bedrooms-button,
.meetingrooms-button {
  button {
    width: 12rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: rgba(79, 79, 79, 0.4);
    backdrop-filter: blur(12px) saturate(180%);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);

    &:hover {
      background: rgba(156, 156, 156, 0.23);
      border-color: #fff;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    }

    &:active {
      transform: translateY(0);
    }

    &.active {
      background: rgba(156, 156, 156, 0.5);
      font-weight: bold;
    }
  }
}

.room-image {
  width: 100%;
  height: 20rem;
  border-radius: 8px;
  object-fit: cover;
}

/* Mobile design */
@media (max-width: 768px) {
  .page {
    padding: 0.5rem;

    h2 {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }

  .rooms-content {
    padding: 1rem;
  }

  .room-section {
    h3 {
      font-size: 1.25rem;
    }
  }

  .room-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .buttons-row-rooms {
    margin-left: 1rem;
    margin-top: 1.5rem;
    gap: 8px;
  }

  .bedrooms-button,
  .meetingrooms-button {
    button {
      padding: 10px 20px;
      font-size: 16px;
      width: 9rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
